<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        {{message}}
        <input v-model="message">

        <ul>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ul>

        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    ----------------------------------
    <div id="app2">
        <input v-model="newTodo" v-on:keyup.enter="addTodo">
        <ul>
            <li v-for="todo in todos">
                {{todo.text}}
                <button v-on:click="removeTodo($index)">X</button>
            </li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script src="index.js"></script>
</body>
</html>