/* 必需 */
.expand-transition {
    transition: all 1s ease;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter, .expand-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}
/*未编译完不出现*/
[v-cloak] {
    display: none;
}